body {
    font-family: Arial, sans-serif;
    background-color: #eeebeb;
}

.main {
    display: flex;
    gap: 5%;
    width: 100%;
}

.sidebar {
    flex: 0 0 20%;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.about-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content {
    flex: 1 1 80%;
    background-color: #fff;
    padding: 20px;
    /* text-align: center; */
    order: 2;
}
/* =============================  */
.about_section {
    padding: 0 0 50px 0;
}

.about_section h2{
    margin-bottom: 1.5rem;
    color: chocolate;
}

.about-content {
    padding: 20px;
}

.about-details li{
    list-style: disc;
    font-size: 22px;
}
.about-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.about-details p {
    font-size: 20px;
    line-height: 1.6;
}

/* ===================  */

.gallery_section {
    padding: 50px 0;
}

.gallery_section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 2%;
}
.gallery-item {
    width: 100%;
}
.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
@media (min-width: 600px) {
    .gallery-item {
        width: 48%;
    }
}
@media (min-width: 900px) {
    .gallery-item {
        width: 30%;
    }
}

/* ================== Enquiry form ============ */

form input , textarea{
    border: none;
    background: #F8F8F8;
    border-bottom: 1px solid #F19555;
    color: #454545;
    height: 60px;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
}

.enquire button{
    width: 100%;
}

.form-control{
    margin: 0.5rem 0;
}