.main {
    display: flex;
    width: 100%;
}

.sidebar {
    flex: 0 0 20%;
    text-align: center;
}

.about-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.content {
    flex: 1 1 80%;
    padding: 20px;
}

.about_section h1{
    color: #F19555;
    font-size: 2rem;
}

.about-content {
    padding: 20px 0;
    font-size: 20px;
    line-height: 1.2;
}

.para{
    font-size: 20px;
    line-height: 1.2;
}

.about-content img{
    width: 100%;
    border-radius: 10px;
}

.features{
    padding: 2rem 0;
    font-size: 20px;
    line-height: 1.4;
}

.features ul{
    font-size: 22px;
    padding: 0rem 0 1.5rem 1.5rem ;
}
.features h3 {
    margin-bottom: 10px;
}

/* ================== Enquiry form ============ */

form{
    padding: 35px 20px;
    background-color: #eeebeb;
}

form h2{
    padding: 10px;
}
input , textarea , select{
    border: none;
    background: #F8F8F8;
    border-bottom: 1px solid #F19555;
    color: #454545;
    height: 50px;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
}

.enquire button{
    width: 100%;
}

.form-control{
    margin: 0.5rem 0;
}

.select{
    margin-bottom: 15px;
}
.other-links h2{
    padding: 3rem 0 2rem 0;
    font-size: 1.7rem;
}
.other-links{
    text-align: start;
    font-size: 1.3rem;
}

.other-links ul li{
    padding: 5px;
    border-bottom: 1px solid #6e6e6e;
}
/* ============== Gallery ============  */


.gallery-section {
    padding: 50px 0;
}

.gallery-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #F19555;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 2%;
}
.gallery-item {
    width: 100%;
}
.gallery-item img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}
@media (min-width: 600px) {
    .gallery-item {
        width: 70%;
    }
}
@media (min-width: 900px) {
    .gallery-item {
        width: 30%;
    }
}

/* @media screen and (max-wdth:768){
    .product-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
} */